{{- include "common.deployment" (list . "games.deployment") -}}
{{- define "games.deployment" -}}
spec:
  template:
    spec:
      containers:
        - ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 1
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 1
          {{- include "common.container" . | nindent 10 }}
{{- end -}}
