code-server:
  image:
    repository: ghcr.io/egvimo/code-server
    tag: "4.108.2"
  serviceAccount:
    create: false
  ingress:
    enabled: true
    hosts:
      - host: code-server.192-168-178-31.sslip.io
        paths:
          - /
  persistence:
    enabled: true
    size: 1Gi
  resources:
    requests:
      memory: "256Mi"
      cpu: "200m"
    limits:
      memory: "512Mi"
      cpu: "3000m"
  extraInitContainers: |
    - name: customization
      image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
      imagePullPolicy: IfNotPresent
      env:
        - name: SERVICE_URL
          value: https://open-vsx.org/vscode/gallery
        - name: ITEM_URL
          value: https://open-vsx.org/vscode/item
      command:
        - sh
        - -c
        - |
          code-server --install-extension ms-python.python
      volumeMounts:
        - name: data
          mountPath: /home/coder
