replicaCount: 1

image:
  repository: jaymoulin/jdownloader
  pullPolicy: IfNotPresent
  tag: "2.3.0"

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: LoadBalancer
  port: 3129
  name: direct-conn

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "1500m"

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  enabled: false
  annotations: {}
  storageClass: ""
  accessModes:
    - ReadWriteOnce
  size: 250Mi

extraVolumes: []

deviceName: ""  # Defaults to 'Kubernetes'
umask: ""  # Defaults to '0002'

myJdAccount:
  email: ""
  password: ""
  passwordSecret: {}
