replicaCount: 1

image:
  repository: gerbera/gerbera
  pullPolicy: IfNotPresent
  tag: ""  # Defaults to chart appVersion

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
  hosts:
    - host: gerbera.192-168-178-31.sslip.io
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "4000m"

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  enabled: false
  annotations: {}
  storageClass: ""
  accessModes:
    - ReadWriteOnce
  size: 250Mi

extraVolumes: []

enableDLNA: false

server:
  virtualURL: https://gerbera.192-168-178-31.sslip.io

database:
  type: postgres  # sqlite3 or postgres
  postgres:
    host: cnpg-cluster-rw.cnpg-system.svc.cluster.local
    port: 5432
    database: gerbera
    username: gerbera
    passwordSecretRef:
      name: gerbera
      key: password
