{{- include "common.deployment" (list . "gerbera.deployment") -}}
{{- define "gerbera.deployment" -}}
spec:
  strategy:
    type: Recreate
  template:
    spec:
      containers:
        - env:
            {{- if eq .Values.database.type "postgres" }}
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.database.postgres.passwordSecretRef.name }}
                  key: {{ .Values.database.postgres.passwordSecretRef.key }}
            {{- end }}
          ports:
            - name: http
              containerPort: 49494
              protocol: TCP
            {{ if .Values.enableDLNA }}
            - name: dlna
              containerPort: 1900
              hostPort: 1900
              protocol: UDP
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /var/run/gerbera
            - name: config-script
              mountPath: /mnt/customization/shell/gerbera_config.sh
              subPath: gerbera_config.sh
            {{- range .Values.extraVolumes }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              readOnly: {{ .readOnly | default false }}
            {{- end }}
          {{- include "common.container" . | nindent 10 }}
      {{ if .Values.enableDLNA }}
      hostNetwork: true
      dnsPolicy: "ClusterFirstWithHostNet"
      {{- end }}
      volumes:
        - name: config
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "common.fullname" . }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: config-script
          configMap:
            name: {{ include "common.fullname" . }}
            defaultMode: 0755
        {{- range .Values.extraVolumes }}
        - name: {{ .name }}
          hostPath:
            path: {{ .hostPath }}
            type: Directory
        {{- end }}
{{- end -}}
