longhorn:
  preUpgradeChecker:
    jobEnabled: false
  persistence:
    reclaimPolicy: Retain
  ingress:
    enabled: true
    host: longhorn.192-168-178-31.sslip.io
  metrics:
    serviceMonitor:
      enabled: true
