replicaCount: 1

image:
  repository: ghcr.io/egvimo/n8n-custom
  pullPolicy: IfNotPresent
  tag: ""  # Defaults to chart appVersion

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
  hosts:
    - host: n8n.192-168-178-31.sslip.io
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  requests:
    memory: "256Mi"
    cpu: "150m"
  limits:
    memory: "512Mi"
    cpu: "1500m"

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  enabled: false
  annotations: {}
  storageClass: ""
  accessModes:
    - ReadWriteOnce
  size: 1Gi

extraVolumes: []

timezone: ""  # Defaults to 'Europe/Berlin'

logLevel: ""  # Use n8n default log level

database:
  type: postgresdb  # sqlite or postgresdb
  sqlite:
    poolSize: 4
    vacuumOnStartup: true
  postgresdb:
    host: "cnpg-cluster-rw.cnpg-system.svc.cluster.local"
    port: 5432
    database: n8n
    user: n8n
    passwordSecretRef:
      name: n8n
      key: password
