replicaCount: 1

image:
  repository: ghcr.io/immich-app/immich-server
  pullPolicy: IfNotPresent
  tag: ""  # Defaults to chart appVersion

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 11319
  runAsGroup: 11319
  fsGroup: 11319
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  hosts:
    - host: immich.192-168-178-31.sslip.io
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  requests:
    cpu: 300m
    memory: 512Mi
  limits:
    cpu: 3000m
    memory: 3Gi

nodeSelector: {}

tolerations: []

affinity: {}

timezone: "Europe/Berlin"

database:
  hostname: cnpg-cluster-rw.cnpg-system.svc.cluster.local
  port: 5432
  databaseName: immich
  username: immich
  passwordSecretName: immich

configuration:
  ffmpeg:
    transcode: disabled
  machineLearning:
    ocr:
      enabled: false
  reverseGeocoding:
    enabled: false
  storageTemplate:
    enabled: true
    template: "{{y}}/{{y}}-{{MM}}/{{filename}}"

extraVolumes: []

valkey:
  serviceAccount:
    create: false
