{{- $root := . }}
{{- range $path, $_ := .Files.Glob "alerts/*.yaml" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" $root }}-{{ base $path | trimSuffix ".yaml" }}-grafana-alerts
  labels:
    grafana_alert: "1"
data:
  rules.yaml: |-
    {{- $root.Files.Get $path | nindent 4 }}
{{- end }}
