replicaCount: 1

image:
  repository: ghcr.io/home-assistant/home-assistant
  pullPolicy: IfNotPresent
  tag: ""  # Defaults to chart appVersion

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext:
  privileged: true
  capabilities:
    add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
  hosts:
    - host: home-assistant.192-168-178-31.sslip.io
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  requests:
    memory: "512Mi"
    cpu: "100m"
  limits:
    memory: "1024Mi"
    cpu: "1500m"

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  enabled: false
  annotations: {}
  storageClass: ""
  accessModes:
    - ReadWriteOnce
  size: 500Mi

serviceMonitor:
  enabled: true
  path: /api/prometheus

timezone: ""  # Defaults to 'Europe/Berlin'

config:
  http:
    use_x_forwarded_for: true
    trusted_proxies:
      - 10.42.0.0/16
      - 192.168.178.0/24
  prometheus:
    namespace: home_assistant
