name: Release Charts

on:
  workflow_dispatch:
    inputs:
      chart:
        description: "Chart name"
        required: true
        type: string

jobs:
  push-chart:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io \
              --username "${{ github.actor }}" --password-stdin

      - name: Package chart
        run: |
          helm dependency update charts/${{ inputs.chart }}
          helm package charts/${{ inputs.chart }}

      - name: Push chart
        run: |
          helm push "${{ inputs.chart }}-"*.tgz \
            oci://ghcr.io/${{ github.repository_owner }}/charts
